+32
-31
Lines changed: 32 additions & 31 deletions
Original file line number	Original file line	Diff line number	Diff line change
@@ -1,31 +1,32 @@
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
package-lock.json
pnpm-lock.yaml
bun.lock
yarn.lock
branch_structure.json
.gitignore
